<h1>Data Pre-processing</h1>

In [1]:
# Acessar Google Drive
import pandas as pd
# Localizar e abrir arquivo no Google Drive
pnad = pd.read_csv('Dados/pnadc2019-24-10.csv')

In [2]:
pnad.head()

,Unnamed: 0,Unnamed: 0.1,UF,SEXO,RACA,LER,FORMACAO,AFASTADO,EMPREGADO,RENDIMENTO,IDADE
0,0,0,11,2,4,1.0,0.0,NaN,1.0,2300.0,45
1,1,1,11,1,4,1.0,0.0,2.0,0.0,NaN,61
2,2,2,11,2,4,1.0,0.0,2.0,0.0,NaN,27
3,3,3,11,2,2,1.0,0.0,2.0,0.0,NaN,18
4,4,4,11,1,1,1.0,0.0,NaN,0.0,NaN,6

<h3>Tratando sexo como classificação com duas categorias</h3>

In [3]:
pnad_sel_sexo = pnad
pnad_sel_sexo['SEXO'] = pnad['SEXO'].apply(lambda x: 'M' if x == 1 else 'F')
pnad_sel_sexo

,Unnamed: 0,Unnamed: 0.1,UF,SEXO,RACA,LER,FORMACAO,AFASTADO,EMPREGADO,RENDIMENTO,IDADE
0,0,0,11,F,4,1.0,0.0,NaN,1.0,2300.0,45
1,1,1,11,M,4,1.0,0.0,2.0,0.0,NaN,61
2,2,2,11,F,4,1.0,0.0,2.0,0.0,NaN,27
3,3,3,11,F,2,1.0,0.0,2.0,0.0,NaN,18
4,4,4,11,M,1,1.0,0.0,NaN,0.0,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...
551343,551343,551343,53,F,4,1.0,0.0,NaN,1.0,1300.0,44
551344,551344,551344,53,F,4,1.0,0.0,NaN,0.0,NaN,10
551345,551345,551345,53,M,4,1.0,0.0,NaN,0.0,NaN,10
551346,551346,551346,53,F,4,1.0,0.0,NaN,1.0,998.0,55
551347,551347,551347,53,F,4,1.0,0.0,NaN,0.0,NaN,13

In [4]:
pnad_sel_sexo.describe()

,Unnamed: 0,Unnamed: 0.1,UF,RACA,LER,FORMACAO,AFASTADO,EMPREGADO,RENDIMENTO,IDADE
count,551348.000000,551348.000000,551348.000000,551348.000000,516642.000000,551348.0,216375.000000,551348.000000,225341.000000,551348.000000
mean,275673.500000,275673.500000,30.789485,2.671940,1.100336,0.0,1.977252,0.441302,2043.749575,35.430902
std,159160.602446,159160.602446,10.991140,1.436692,0.300448,0.0,0.149098,0.530599,3416.892001,21.717163
min,0.000000,0.000000,11.000000,1.000000,1.000000,0.0,1.000000,0.000000,5.000000,0.000000
25%,137836.750000,137836.750000,23.000000,1.000000,1.000000,0.0,2.000000,0.000000,998.000000,17.000000
50%,275673.500000,275673.500000,31.000000,4.000000,1.000000,0.0,2.000000,0.000000,1200.000000,34.000000
75%,413510.250000,413510.250000,41.000000,4.000000,1.000000,0.0,2.000000,1.000000,2000.000000,52.000000
max,551347.000000,551347.000000,53.000000,9.000000,2.000000,0.0,2.000000,3.000000,340998.000000,114.000000

In [5]:
pnad_final = pd.get_dummies(pnad_sel_sexo)
pnad_final

,Unnamed: 0,Unnamed: 0.1,UF,RACA,LER,FORMACAO,AFASTADO,EMPREGADO,RENDIMENTO,IDADE,SEXO_F,SEXO_M
0,0,0,11,4,1.0,0.0,NaN,1.0,2300.0,45,1,0
1,1,1,11,4,1.0,0.0,2.0,0.0,NaN,61,0,1
2,2,2,11,4,1.0,0.0,2.0,0.0,NaN,27,1,0
3,3,3,11,2,1.0,0.0,2.0,0.0,NaN,18,1,0
4,4,4,11,1,1.0,0.0,NaN,0.0,NaN,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
551343,551343,551343,53,4,1.0,0.0,NaN,1.0,1300.0,44,1,0
551344,551344,551344,53,4,1.0,0.0,NaN,0.0,NaN,10,1,0
551345,551345,551345,53,4,1.0,0.0,NaN,0.0,NaN,10,0,1
551346,551346,551346,53,4,1.0,0.0,NaN,1.0,998.0,55,1,0
551347,551347,551347,53,4,1.0,0.0,NaN,0.0,NaN,13,1,0

<h3>Separando as raças em diferente colunas</h3>

In [6]:
pnad_sel_raca = pnad_final
# com a variável V2010 ( Raça: 1 = Branca, 2 = Preta, 3 = Amarela, 4 = Parda, 5 = Indio, 9 = não informado)
pnad_sel_raca['RACA'] = pnad_sel_raca['RACA'].apply(lambda x: 'BRANCA' if x == 1 else ('PRETA' if x == 2 else ('AMARELA' if x == 3 else 'PARDA' if x == 4 else ('INDIO' if x == 5 else 'NAO_INFORMADO'))))

In [7]:
pnad_sel_raca

,Unnamed: 0,Unnamed: 0.1,UF,RACA,LER,FORMACAO,AFASTADO,EMPREGADO,RENDIMENTO,IDADE,SEXO_F,SEXO_M
0,0,0,11,PARDA,1.0,0.0,NaN,1.0,2300.0,45,1,0
1,1,1,11,PARDA,1.0,0.0,2.0,0.0,NaN,61,0,1
2,2,2,11,PARDA,1.0,0.0,2.0,0.0,NaN,27,1,0
3,3,3,11,PRETA,1.0,0.0,2.0,0.0,NaN,18,1,0
4,4,4,11,BRANCA,1.0,0.0,NaN,0.0,NaN,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
551343,551343,551343,53,PARDA,1.0,0.0,NaN,1.0,1300.0,44,1,0
551344,551344,551344,53,PARDA,1.0,0.0,NaN,0.0,NaN,10,1,0
551345,551345,551345,53,PARDA,1.0,0.0,NaN,0.0,NaN,10,0,1
551346,551346,551346,53,PARDA,1.0,0.0,NaN,1.0,998.0,55,1,0
551347,551347,551347,53,PARDA,1.0,0.0,NaN,0.0,NaN,13,1,0

In [8]:
pnad_sel_raca_dv = pd.get_dummies(pnad_sel_raca)
pnad_sel_raca_dv

,Unnamed: 0,Unnamed: 0.1,UF,LER,FORMACAO,AFASTADO,EMPREGADO,RENDIMENTO,IDADE,SEXO_F,SEXO_M,RACA_AMARELA,RACA_BRANCA,RACA_INDIO,RACA_NAO_INFORMADO,RACA_PARDA,RACA_PRETA
0,0,0,11,1.0,0.0,NaN,1.0,2300.0,45,1,0,0,0,0,0,1,0
1,1,1,11,1.0,0.0,2.0,0.0,NaN,61,0,1,0,0,0,0,1,0
2,2,2,11,1.0,0.0,2.0,0.0,NaN,27,1,0,0,0,0,0,1,0
3,3,3,11,1.0,0.0,2.0,0.0,NaN,18,1,0,0,0,0,0,0,1
4,4,4,11,1.0,0.0,NaN,0.0,NaN,6,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551343,551343,551343,53,1.0,0.0,NaN,1.0,1300.0,44,1,0,0,0,0,0,1,0
551344,551344,551344,53,1.0,0.0,NaN,0.0,NaN,10,1,0,0,0,0,0,1,0
551345,551345,551345,53,1.0,0.0,NaN,0.0,NaN,10,0,1,0,0,0,0,1,0
551346,551346,551346,53,1.0,0.0,NaN,1.0,998.0,55,1,0,0,0,0,0,1,0
551347,551347,551347,53,1.0,0.0,NaN,0.0,NaN,13,1,0,0,0,0,0,1,0

In [9]:
pnad_sel_raca_dv.describe()

,Unnamed: 0,Unnamed: 0.1,UF,LER,FORMACAO,AFASTADO,EMPREGADO,RENDIMENTO,IDADE,SEXO_F,SEXO_M,RACA_AMARELA,RACA_BRANCA,RACA_INDIO,RACA_NAO_INFORMADO,RACA_PARDA,RACA_PRETA
count,551348.000000,551348.000000,551348.000000,516642.000000,551348.0,216375.000000,551348.000000,225341.000000,551348.000000,551348.000000,551348.000000,551348.000000,551348.000000,551348.000000,551348.000000,551348.000000,551348.000000
mean,275673.500000,275673.500000,30.789485,1.100336,0.0,1.977252,0.441302,2043.749575,35.430902,0.512230,0.487770,0.005071,0.386248,0.005185,0.000071,0.518533,0.084892
std,159160.602446,159160.602446,10.991140,0.300448,0.0,0.149098,0.530599,3416.892001,21.717163,0.499851,0.499851,0.071032,0.486889,0.071823,0.008410,0.499657,0.278721
min,0.000000,0.000000,11.000000,1.000000,0.0,1.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,137836.750000,137836.750000,23.000000,1.000000,0.0,2.000000,0.000000,998.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,275673.500000,275673.500000,31.000000,1.000000,0.0,2.000000,0.000000,1200.000000,34.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,413510.250000,413510.250000,41.000000,1.000000,0.0,2.000000,1.000000,2000.000000,52.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
max,551347.000000,551347.000000,53.000000,2.000000,0.0,2.000000,3.000000,340998.000000,114.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000